<div class="py-4">
  <app-back-button></app-back-button>
  <h2 class="text-lg font-bold text-indigo-600 mt-4 mb-2">Transfered Logs</h2>
  <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
  <table class="w-full text-center" mat-table [dataSource]="dataSource">
    <ng-container
      *ngFor="let column of displayedColumns"
      [matColumnDef]="column"
    >
      <th mat-header-cell *matHeaderCellDef class="mx-2 text-center">
        {{column}}
      </th>
      <td mat-cell *matCellDef="let element">{{element[column]}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <div class="flex flex-row justify-end border-t">
    <mat-paginator showFirstLastButtons [pageSizeOptions]="[10, 15, 20]">
    </mat-paginator>
  </div>
</div>
