<div class="py-2">
  <app-back-button></app-back-button>

  <h2 class="text-lg font-bold text-indigo-600 mb-2">Gift Cards</h2>

  <img
    *ngIf="giftCards.length"
    [src]="giftCards[0].image"
    class="object-cover w-full h-52 rounded shadow-md"
  />

  <div class="space-y-2 mt-2">
    <button
      *ngFor="let giftCard of giftCards"
      class="flex justify-between hover:bg-gray-200 w-full p-2 rounded"
    >
      <h2 class="font-medium text-gray-600">{{giftCard.title}}</h2>
      <h4 class="text-sm tracking-wider text-gray-800">
        {{giftCard.price.toLocaleString()}} Kyats
      </h4>
    </button>
  </div>
</div>
