<div class="py-2">
  <app-back-button></app-back-button>

  <h2 class="text-lg font-bold text-indigo-600 mb-2">Gift Cards</h2>

  <div class="grid grid-cols-4 gap-5">
    <a
      *ngFor="let giftCard of giftCards"
      class="overflow-hidden cursor-pointer"
      [routerLink]="['/gifts',giftCard.id]"
    >
      <img
        [src]="giftCard.image"
        [alt]="giftCard.title"
        class="object-cover h-20 w-20 rounded-xl shadow-xl"
      />
      <h2 class="text-xs text-center pt-2">{{giftCard.title}}</h2>
    </a>
  </div>
</div>
