<div class="py-4">
  <app-back-button></app-back-button>
  <div class="mt-2 mx-4">
    <div
      class="mb-4 w-full rounded-lg py-4 px-2 bg-red-500 text-white text-center"
      *ngIf="transactionError"
    >
      {{ transactionError }}
    </div>

    <mat-form-field appearance="outline" class="w-full">
      <mat-label>Recipent Phone</mat-label>
      <input
        type="tel"
        matInput
        ngModel
        [(ngModel)]="recipient"
        (change)="searchAccount()"
      />
      <span matPrefix class="pr-2 relative -top-1 tracking-widest"> 09 </span>
      <button
        matSuffix
        mat-icon-button
        class="pr-2 relative -top-1 tracking-widest"
        (click)="searchAccount()"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-5 w-5"
          viewBox="0 0 20 20"
          fill="currentColor"
        >
          <path d="M9 9a2 2 0 114 0 2 2 0 01-4 0z" />
          <path
            fill-rule="evenodd"
            d="M10 18a8 8 0 100-16 8 8 0 000 16zm1-13a4 4 0 00-3.446 6.032l-2.261 2.26a1 1 0 101.414 1.415l2.261-2.261A4 4 0 1011 5z"
            clip-rule="evenodd"
          />
        </svg>
      </button>
      <mat-hint *ngIf="accountError">
        This phone number does not have Etherio Pay.
      </mat-hint>
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-full">
      <mat-label>Account ID</mat-label>
      <mat-select placeholder="Account" [(ngModel)]="recipientId">
        <mat-option *ngFor="let account of accounts" [value]="account">
          {{ account }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <div class="mt-4">
      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Amount</mat-label>
        <input type="number" autocomplete="off" [(ngModel)]="amount" matInput />
      </mat-form-field>
    </div>

    <div class="grid grid-cols-4">
      <div
        *ngFor="let value of options; let i = index"
        class="border border-gray-400 w-full text-center py-1 cursor-pointer"
        (click)="selectAmount(value)"
        [ngClass]="{
          'bg-gray-600 text-white hover:bg-gray-400': amount == value,
          'hover:bg-gray-200': amount != value,
          'rounded-l-md': i == 0,
          'border-r-0': i < options.length - 1,
          'rounded-r-md': i == options.length - 1
        }"
      >
        {{ value.toLocaleString() }}
      </div>
    </div>

    <div class="mt-8 space-y-5">
      <button
        mat-flat-button
        class="w-full"
        color="primary"
        (click)="sendTransfer()"
      >
        <mat-icon class="mr-2">send</mat-icon> Send Transfer
      </button>

      <button
        mat-flat-button
        class="w-full bg-gray-500 text-white"
        routerLink="/"
      >
        Cancel
      </button>
    </div>
  </div>
</div>
